@page "/appointment"

@using Syncfusion.Blazor.Navigations
@using System.Threading.Tasks
@using System.Linq
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Notifications
@using Pusula.Training.HealthCare.Exceptions;
@using Pusula.Training.HealthCare.Shared
@using Pusula.Training.HealthCare.Appointments
@using Pusula.Training.HealthCare.Patients
@using Pusula.Training.HealthCare.Departments
@using Pusula.Training.HealthCare.Doctors
@using Pusula.Training.HealthCare.Blazor.Containers
@using Volo.Abp

@inject IAppointmentsAppService AppointmentsAppService
@inject IDepartmentsAppService DepartmentsAppService
@inject IDoctorsAppService DoctorsAppService
@inject IPatientsAppService PatientsAppService

@inject IJSRuntime JSRuntime


<div class="stepper-container" style="max-width: 1500px; margin: 0 auto; padding: 40px;">
    <div class="card">
        <div class="card-body">

            <!-- Doktor ve Departman Seçim Alanları -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <h4>Departman</h4>
                    <SfDropDownList TValue="Guid" 
                        TItem="DepartmentDto" 
                        Placeholder="Departman seçiniz..." 
                        DataSource="@FilteredDepartments">
                        <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="Guid" TItem="DepartmentDto" ValueChange="OnDepartmentValueChange"></DropDownListEvents>
                    </SfDropDownList>
                </div>
                <div class="col-md-6">
                    <h4>Doktor</h4>
                    <SfDropDownList DataSource="@FilteredDoctors"
                                    Placeholder="Doktor seçiniz..."
                                    TItem="DoctorWithNavigationPropertiesDto"
                                    TValue="Guid">
                        <DropDownListFieldSettings Value="Doctor.Id" Text="FullName"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="Guid" TItem="DoctorWithNavigationPropertiesDto" ValueChange="OnDoctorValueChange"></DropDownListEvents>
                    </SfDropDownList>
                </div>
            </div>
        </div>
    </div>
</div>
<SfToast @ref="ToastObj" />
<!-- Randevu Takvimi Ekranı -->
<SfSchedule TValue="FlatAppointmentDto" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate" @bind-CurrentView="@CurrentView" @ref="SfScheduleInstance" StartHour="09:00" EndHour="18:00">
    <ScheduleTemplates>
        <EditorTemplate >
            @{ 
                var Data = (context as FlatAppointmentDto);
                NewAppointment.StartDate = Data.StartTime; 
                NewAppointment.EndDate = Data.EndTime;
            }
            <table class="custom-event-editor" width="100%" cellpadding="5">
                <tbody>
                    <tr>
                        <td class="e-textlabel">Patient</td>
                        <td colspan="4" style="display: flex; align-items: center;">
                            <SfDropDownList DataSource="@PatientsCollection"
                                            Placeholder="Select Patient"
                                            AllowFiltering="true"
                                            @bind-Value="@NewAppointment.PatientId"
                                            FilterType="Syncfusion.Blazor.DropDowns.FilterType.StartsWith">
                                <DropDownListFieldSettings Value="Id" Text="DisplayName"></DropDownListFieldSettings>
                            </SfDropDownList>
                            <button class="e-btn e-primary" style="margin-left: 10px;" @onclick="OpenPatientDialog">+</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="e-textlabel">Appointment Type</td>
                        <td colspan="4">
                            <SfDropDownList DataSource="@AppointmentTypesCollection"
                                            Placeholder="Select Appointment Type"
                                            @bind-Value="@NewAppointment.AppointmentTypeId">
                                <DropDownListFieldSettings Value="Id" Text="DisplayName"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="e-textlabel">Start Date</td>
                        <td colspan="4">
                            <SfDateTimePicker @bind-Value="@(Data.StartTime)" TValue="DateTime"></SfDateTimePicker>
                        </td>
                    </tr>
                    <tr>
                        <td class="e-textlabel">End Date</td>
                        <td colspan="4">
                            <SfDateTimePicker @bind-Value="@(Data.EndTime)" TValue="DateTime"></SfDateTimePicker>
                        </td>
                    </tr>
                    <tr>
                        <td class="e-textlabel">Status</td>
                        <td colspan="4">
                    <SfDropDownList DataSource="@AppointmentStatusCollection"
                                    Placeholder="Choose Status"
                                    @bind-Value="@NewAppointment.AppointmentStatus">
                        <DropDownListFieldSettings Value="Id" Text="DisplayName"></DropDownListFieldSettings>
                    </SfDropDownList>
                    </td>
                    </tr>
                    <tr>
                        <td class="e-textlabel">Note</td>
                        <td colspan="4">
                            <SfTextBox Multiline="true" @bind-Value="@NewAppointment.Note"></SfTextBox>
                        </td>
                    </tr>
                    <tr>
                        <td class="e-textlabel">Is Block</td>
                        <td colspan="4">
                            <SfSwitch @bind-Checked="@NewAppointment.IsBlock" TChecked="bool" Label="Block/Unblock"></SfSwitch>
                        </td>
                    </tr>
                    
                </tbody>
            </table> 
            <div style="color: red; margin-top: 10px;">
                @ErrorMessage
            </div>
        </EditorTemplate>
        <EditorFooterTemplate>
            <button id="saveButton" class="e-control e-btn e-primary" data-ripple="true" @onclick="CreateAndCloseModal">Save</button>
        </EditorFooterTemplate>
    </ScheduleTemplates>

    <ScheduleEventSettings TValue="FlatAppointmentDto" DataSource="@AppointmentList" EnableTooltip="true">
    </ScheduleEventSettings>
    <ScheduleViews>
        <ScheduleView Option="View.Day"></ScheduleView>
        <ScheduleView Option="View.Week"></ScheduleView>
        <ScheduleView Option="View.WorkWeek"></ScheduleView>
    </ScheduleViews>
</SfSchedule>

<!-- Hasta yoksa, yeni hasta kaydı oluşturma Modalı -->
<SfDialog Height="450px" Width="500px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsPatientDialogOpen" Header="Yeni Hasta Kaydı">
    <EditForm Model="@NewPatient" OnValidSubmit="CreatePatient">
        <DataAnnotationsValidator />
        <div class="mb-2">
            <SfTextBox Placeholder="FirstName" @bind-Value="NewPatient.FirstName" CssClass="e-field"></SfTextBox>
            <ValidationMessage For="@(() => NewPatient.FirstName)" />
        </div>
        <div class="mb-2">
            <SfTextBox Placeholder="LastName" @bind-Value="NewPatient.LastName" CssClass="e-field"></SfTextBox>
            <ValidationMessage For="@(() => NewPatient.LastName)" />
        </div>
        <div class="mb-2">
            <SfDatePicker TValue="DateTime" Placeholder="Doğum Tarihi" @bind-Value="NewPatient.BirthDate" CssClass="e-field"></SfDatePicker>
            <ValidationMessage For="@(() => NewPatient.BirthDate)" />
        </div>
        <div class="mb-2">
            <SfTextBox Placeholder="Identity Number" @bind-Value="NewPatient.IdentityNumber" CssClass="e-field"></SfTextBox>
            <ValidationMessage For="@(() => NewPatient.IdentityNumber)" />
        </div>
        <div class="mb-2">
            <SfTextBox Placeholder="Mobile Phone Number" @bind-Value="NewPatient.MobilePhoneNumber" CssClass="e-field"></SfTextBox>
            <ValidationMessage For="@(() => NewPatient.MobilePhoneNumber)" />
        </div>
        <div class="mb-2">
            <SfTextBox Placeholder="Email" @bind-Value="NewPatient.Email" CssClass="e-field"></SfTextBox>
            <ValidationMessage For="@(() => NewPatient.Email)" />
        </div>
        <div class="mb-2">
            <SfDropDownList DataSource="@GendersCollection"
                            Placeholder="Gender"
                            @bind-Value="@NewPatient.Gender">
                <DropDownListFieldSettings Value="Id" Text="DisplayName"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
        <div style="margin-top: 15px;">
            <button type="submit" class="e-btn e-success">Kaydet</button>
            <button type="button" class="e-btn e-danger" @onclick="ClosePatientDialog">İptal</button>
        </div>
    </EditForm>
</SfDialog>
@code {

    private SfSchedule<FlatAppointmentDto> SfScheduleInstance;
    DateTime CurrentDate = new DateTime(2024, 12, 2);
    View CurrentView = View.WorkWeek;
    Syncfusion.Blazor.Schedule.ValidationRules ValidationRules = new Syncfusion.Blazor.Schedule.ValidationRules { Required = true };
    private AppointmentUpdateDto EditAppointment { get; set; } = new AppointmentUpdateDto();
    private IReadOnlyList<LookupDto<Guid>> PatientsCollection { get; set; } = new List<LookupDto<Guid>>();
    private IReadOnlyList<LookupDto<Guid>> DoctorsCollection { get; set; } = new List<LookupDto<Guid>>();
    private IReadOnlyList<LookupDto<Guid>> DepartmentsCollection { get; set; } = new List<LookupDto<Guid>>();
    private IReadOnlyList<LookupDto<Guid>> AppointmentTypesCollection { get; set; } = new List<LookupDto<Guid>>();
    private IReadOnlyList<LookupDto<AppointmentStatus>> AppointmentStatusCollection { get; set; } = new List<LookupDto<AppointmentStatus>>();
    private IReadOnlyList<LookupDto<Gender>> GendersCollection { get; set; } = new List<LookupDto<Gender>>();
    private IReadOnlyList<LookupDto<Pusula.Training.HealthCare.Patients.Type>> TypesCollection { get; set; } = new List<LookupDto<Pusula.Training.HealthCare.Patients.Type>>();
    private List<FlatAppointmentDto> AppointmentList { get; set; } = new List<FlatAppointmentDto>();
    private AppointmentCreateDto NewAppointment { get; set; } = new AppointmentCreateDto
    {

    };
    private List<DoctorWithNavigationPropertiesDto> AllDoctors = new();
    private List<DepartmentDto> AllDepartments = new();

    private DoctorWithNavigationPropertiesDto SelectedDoctor;
    private DepartmentDto SelectedDepartment;

    private List<DepartmentDto> FilteredDepartments = new();
    private List<DoctorWithNavigationPropertiesDto> FilteredDoctors = new();

    private PatientCreateDto NewPatient = new();
    private bool IsPatientDialogOpen = false;

    private string ErrorMessage { get; set; } = string.Empty;
    private string FilterText = "";

    private SfToast? ToastObj;

    protected override async Task OnInitializedAsync()
    {
        // Fetch lookup data
        await GetPatientCollectionLookupAsync();
        await GetDoctorCollectionLookupAsync();
        await GetDepartmentCollectionLookupAsync();
        await GetAppointmentTypeCollectionLookupAsync();

        // Appointment Status
        AppointmentStatusCollection = Enum.GetValues(typeof(AppointmentStatus))
            .Cast<AppointmentStatus>()
            .Select(b => new LookupDto<AppointmentStatus> { Id = b, DisplayName = b.ToString() })
            .ToList();
        //Hasta kaydı için Gender listesi
        GendersCollection = Enum.GetValues(typeof(Gender))
            .Cast<Gender>()
            .Select(b => new LookupDto<Gender> { Id = b, DisplayName = b.ToString() })
            .ToList();
        //Hasta kaydı için hasta tipleri 
        TypesCollection = Enum.GetValues(typeof(Pusula.Training.HealthCare.Patients.Type))
            .Cast<Pusula.Training.HealthCare.Patients.Type>()
            .Select(b => new LookupDto<Pusula.Training.HealthCare.Patients.Type> { Id = b, DisplayName = b.ToString() })
            .ToList();


        await LoadInitialDataAsync();
        ToastObj ??= new SfToast();
    }
    private async Task LoadInitialDataAsync()
    {

        var departmentResult = await DepartmentsAppService.GetListAsync(new GetDepartmentsInput());
        if (departmentResult?.Items != null)
        {
            FilteredDepartments = departmentResult.Items.ToList();
        }

        var doctorResult = await DoctorsAppService.GetListAsync(new GetDoctorsInput());
        if(doctorResult?.Items != null)
        {
            AllDoctors = doctorResult.Items.ToList();
            FilteredDoctors = AllDoctors
            .Select(d => new DoctorWithNavigationPropertiesDto
                {
                    Doctor = d.Doctor,
                    Title = d.Title,
                    User = d.User,
                    FullName = $"{d.Title?.Name} {d.User?.Name} {d.User?.Surname}" // FullName oluşturuldu
                })
            .ToList();
        }
    }
    private async Task LoadAppointmentsAsync()
    {
        var input = new GetAppointmentsInput
                {
                    StartDate = null,
                    EndDate = null,
                    Note = null,
                    AppointmentStatus = null,
                    IsBlock = null,
                    PatientId = null,
                    AppointmentTypeId = null,
                    DoctorId = SelectedDoctor?.Doctor?.Id, //Doctorun randevularını getirme filtresi
                    DepartmentId = SelectedDepartment?.Id //Departmanın randevularını getirme filtresi
                };

        var result = await AppointmentsAppService.GetListAsync(input);

        AppointmentList = result.Items.Select(a => new FlatAppointmentDto
                {
                    Id = a.Appointment.Id.GetHashCode(),
                    Subject = a.AppointmentType.Name,
                    StartTime = a.Appointment.StartDate,
                    EndTime = a.Appointment.EndDate,
                    IsBlock = a.Appointment.IsBlock,
                }).ToList();

    }
    private async Task OnDepartmentValueChange(ChangeEventArgs<Guid, DepartmentDto> args)
    {
        // Seçilen departmanın Id'si
        Guid selectedDepartmentId = args.Value;

        // Seçilen departman objesi
        DepartmentDto selectedDepartment = FilteredDepartments.FirstOrDefault(d => d.Id == selectedDepartmentId);

        if (selectedDepartment != null)
        {
            await SelectDepartmentAsync(selectedDepartment);
        }
    }

    private async Task OnDoctorValueChange(ChangeEventArgs<Guid, DoctorWithNavigationPropertiesDto> args)
    {
        // Seçilen departmanın Id'si
        Guid selectedDoctorId = args.Value;

        // Seçilen departman objesi
        DoctorWithNavigationPropertiesDto selectedDoctor = FilteredDoctors.FirstOrDefault(d => d.Doctor.Id == selectedDoctorId);

        if (selectedDoctor != null)
        {
            await SelectDoctorAsync(selectedDoctor);
        }
    }

    private async Task SelectDoctorAsync(DoctorWithNavigationPropertiesDto doctor)
    {
        SelectedDoctor = doctor;
        await LoadAppointmentsAsync();  //Seçilen doktroun randevularını getirmek için çağırıldı
        await Task.CompletedTask;
    }
    private async Task SelectDepartmentAsync(DepartmentDto department)
    {
        SelectedDepartment = department;

        if (department != null)
        {
            // Seçilen departmana ait doktorları listelemek için
            var departmentWithDoctors = await DepartmentsAppService.GetDoctorsByDepartmentIdAsync(department.Id);
            if (departmentWithDoctors != null)
            {
                FilteredDoctors = departmentWithDoctors
                    .Select(dd => new DoctorWithNavigationPropertiesDto
                        {
                            Doctor = dd.Doctor,
                            Title = dd.Title,
                            User = dd.User,
                            FullName = $"{dd.Title.Name} {dd.User.Name} {dd.User.Surname}"
                        })
                    .ToList();

                await LoadAppointmentsAsync();
            }
        }
        else
        {
            FilteredDoctors.Clear();
        }
        await Task.CompletedTask;
    }
    // NewAppointment nesnesini sıfırlama
    private void ClearNewAppointment()
    {
        NewAppointment = new AppointmentCreateDto
        {

        };
    }

    private async Task CreateAndCloseModal()
    {

        if (SelectedDoctor == null)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Lütfen bir doktor seçiniz!");
            return;
        }
        if (SelectedDepartment == null)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Lütfen bir departman seçiniz!");
            return;
        }
        await CreateAppointment();// Randevu oluşturma işlemini çağır
        await LoadAppointmentsAsync(); // Verileri yeniden yükle
                                       // await SfScheduleInstance.Refresh(); // Takvimi güncelle
        ClearNewAppointment(); // Formdaki bilgileri temizle
        SfScheduleInstance.CloseEditor(); // Modalı kapat

    } 
    private async Task CreateAppointment()
    {
        await HandleError(async () =>
    {
        NewAppointment.DoctorId = SelectedDoctor.Doctor.Id;
        NewAppointment.DepartmentId = SelectedDepartment.Id;

        // Randevuyu oluştur
        var createdAppointment = await AppointmentsAppService.CreateAsync(NewAppointment);

        // Başarılı mesaj
        await ShowToast("Randevu başarıyla oluşturuldu!", true);
    });
    }

    private void OpenPatientDialog()
    {
        NewPatient = new PatientCreateDto
            {
                BirthDate = DateTime.Now
            };
        IsPatientDialogOpen = true;
    }

    private void ClosePatientDialog()
    {
        IsPatientDialogOpen = false;
        NewPatient = new(); // Form temizliği
    }
    private async Task CreatePatient()
    {

        await PatientsAppService.CreateAsync(NewPatient);
        await GetPatientCollectionLookupAsync();
        ClosePatientDialog();
        await Task.CompletedTask;
    }

    private async Task GetPatientCollectionLookupAsync(string? newValue = null)
    {
        PatientsCollection = (await AppointmentsAppService.GetPatientLookupAsync(new LookupRequestDto { Filter = newValue })).Items;
    }

    private async Task GetDoctorCollectionLookupAsync(string? newValue = null)
    {
        DoctorsCollection = (await AppointmentsAppService.GetDoctorLookupAsync(new LookupRequestDto { Filter = newValue })).Items;
    }

    private async Task GetDepartmentCollectionLookupAsync(string? newValue = null)
    {
        DepartmentsCollection = (await AppointmentsAppService.GetDepartmentLookupAsync(new LookupRequestDto { Filter = newValue })).Items;
    }

    private async Task GetAppointmentTypeCollectionLookupAsync(string? newValue = null)
    {
        AppointmentTypesCollection = (await AppointmentsAppService.GetAppointmentTypeLookupAsync(new LookupRequestDto { Filter = newValue })).Items;
    }

    public class FlatAppointmentDto
    {
        public int Id { get; set; }
        public string Subject { get; set; }
        public string Location { get; set; }
        public DateTime StartTime { get; set; }
        public DateTime EndTime { get; set; }
        public string Description { get; set; }
        public bool IsAllDay { get; set; }
        public bool IsBlock { get; set; }
        public string RecurrenceRule { get; set; }
        public string RecurrenceException { get; set; }
        public Nullable<int> RecurrenceID { get; set; }
    }
    public async Task HandleError(Func<Task> action)
    {
        try
        {
            await action();
        }
        catch (UserFriendlyException ex) // Özel hata
        {
            await ShowToast(ex.Message, false);
        }
        catch (Exception) // Genel hata
        {
            await ShowToast("Bir hata oluştu. Lütfen tekrar deneyin.", false);
        }
    }

    private async Task ShowToast(string message, bool isSuccess = true)
    {
        await ToastObj!.ShowAsync(new ToastModel
            {
                Content = message,
                CssClass = isSuccess ? "e-toast-success" : "e-toast-danger",
                Timeout = 3000,
                ShowCloseButton = true
            });
    }
}

<style>
    .patient-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        background-color: #f8f9fa; /* Hafif bir arka plan rengi */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Hafif bir gölge efekti */
        max-width: 1100px; /* Kart genişliği */
        margin: auto; /* Ortala */
    }

        .patient-card .avatar {
            width: 90px; /* Avatar boyutu */
            height: 90px;
            object-fit: cover;
        }

        .patient-card .card-body {
            padding: 20px;
        }

        .patient-card h5 {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }
</style>