@page "/appointment-types"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Notifications
@using Pusula.Training.HealthCare.Shared;
@using Pusula.Training.HealthCare.AppointmentTypes
@using Pusula.Training.HealthCare.Doctors
@using Volo.Abp;
@inject IDoctorsAppService DoctorsAppService
@inject IAppointmentTypeAppService AppointmentTypeAppService

<SfToast @ref="ToastObj" />
<div class="row mb-2">
    <div class="col text-end">
        <button class="btn custom-add-button" @onclick="OpenAddModal">+ Add Appointment Type</button>
    </div>
</div>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <SfGrid DataSource="@AppointmentTypeList" AllowPaging="true" Toolbar="@(new string[] {"Add"})" OnToolbarClick="OnToolbarClick">
            <GridColumns>
                <GridColumn Field="Name" HeaderText="Appointment Type" Width="150" />
                <GridColumn Field="DurationInMinutes" HeaderText="Duration (min)" TextAlign="TextAlign.Center" Width="140" />
                <GridColumn HeaderText="Doctors" Width="100" TextAlign="TextAlign.Center">
                    <Template>
                        <button class="btn custom-doctor-button" @onclick="(() => ShowDoctors((context as AppointmentTypeDto).Id))">Show Doctors</button>
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="Actions" Width="200" TextAlign="TextAlign.Center">
                    <Template>
                        <button class="btn custom-add-button" @onclick="(() => OpenEditModal((context as AppointmentTypeDto)))">Edit</button>
                        <button class="btn custom-delete-button" @onclick="(() => DeleteAppointmentType((context as AppointmentTypeDto).Id))">Delete</button>
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>

<!-- Modal for Doctor List -->
<SfDialog IsModal="true" Width="600px" Visible="@IsDoctorModalOpen" OnClose="OnModalClose" Header="Doctors">
    <DialogTemplates>
        <Content>
            <SfGrid DataSource="@DoctorList" AllowPaging="true">
                <GridColumns>
                    <GridColumn Field="Title.Name" HeaderText="Doctor " Width="200" />
                    <GridColumn Field="User.Name" HeaderText=" Name " Width="200" />
                    <GridColumn Field="User.Surname" HeaderText=" Surname" Width="200" />
                </GridColumns>
            </SfGrid>
        </Content>
        <FooterTemplate>
            <button class="btn btn-secondary" @onclick="() => IsDoctorModalOpen = false">Close</button>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<!-- Modal for Adding Appointment Type -->
<SfDialog IsModal="true" Width="600px" Visible="@IsAddModalOpen" Header="Add Appointment Type" OnClose="OnAddModalClose">
    <DialogTemplates>
        <Content>
            <div>
                <label>Name:</label>
                <input type="text" class="form-control" @bind="NewAppointmentType.Name" />
            </div>
            <div class="mt-2">
                <label>Duration (Minutes):</label>
                <input type="number" class="form-control" @bind="NewAppointmentType.DurationInMinutes" max="45" step="1" oninput="this.value = Math.max(0, Math.min(45, this.value))" />
            </div>
            <div class="mt-2">
                <label>Select Doctors:</label>
                <SfMultiSelect TValue="List<Guid>" TItem="DoctorListItems" Placeholder="Select Doctors" DataSource="@Doctors" @bind-Value="NewAppointmentType.DoctorIds">
                    <MultiSelectFieldSettings Text="Name" Value="Id"></MultiSelectFieldSettings>
                </SfMultiSelect>
            </div>
        </Content>
        <FooterTemplate>
            <button class="btn btn-primary" @onclick="SaveAppointmentType">Save</button>
            <button class="btn btn-secondary" @onclick="() => IsAddModalOpen = false">Cancel</button>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<!-- Modal for Editing Appointment Type -->
<SfDialog IsModal="true" Width="600px" Visible="@IsEditModalOpen" Header="Edit Appointment Type" OnClose="OnEditModalClose">
    <DialogTemplates>
        <Content>
            <div>
                <label>Name:</label>
                <input type="text" class="form-control" @bind="EditAppointmentType.Name" />
            </div>
            <div class="mt-2">
                <label>Duration (Minutes):</label>
                <input type="number" class="form-control" @bind="EditAppointmentType.DurationInMinutes" />
            </div>
            <div class="mt-2">
                <label>Select Doctors:</label>
                <SfMultiSelect TValue="List<Guid>" TItem="DoctorListItems" Placeholder="Select Doctors" DataSource="@Doctors" @bind-Value="EditAppointmentType.DoctorIds">
                    <MultiSelectFieldSettings Text="Name" Value="Id"></MultiSelectFieldSettings>
                </SfMultiSelect>
            </div>
        </Content>
        <FooterTemplate>
            <button class="btn btn-primary" @onclick="UpdateAppointmentType">Save</button>
            <button class="btn btn-secondary" @onclick="() => IsEditModalOpen = false">Cancel</button>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>


