@page "/blacklist"

@using Pusula.Training.HealthCare.Shared
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Pusula.Training.HealthCare.Doctors
@using Pusula.Training.HealthCare.BlackLists
@using Pusula.Training.HealthCare.Patients
@using Volo.Abp;

@inject IDoctorsAppService DoctorsAppService
@inject IBlackListsAppService BlackListAppService
@inject IPatientsAppService PatientsAppService

<SfToast @ref="ToastObj" />
<div class="row mb-2">
    <div class="col text-end">
        <button class="btn custom-add-button" @onclick="OpenAddModal">+ Add Black List Item</button>
    </div>
</div>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <SfGrid DataSource="@BlackListItems" AllowPaging="true" ID="custom-grid" Toolbar="@(new List<string>() { "Search" })">
            <GridPageSettings PageSize="10"></GridPageSettings>
            <GridColumns>
                <GridColumn TextAlign="TextAlign.Center" Field="DoctorFullName" HeaderText="Doctor" Width="100" />
                <GridColumn TextAlign="TextAlign.Center" Field="PatientFullName" HeaderText="Patient" Width="100" />
                <GridColumn TextAlign="TextAlign.Center" Field="BlackListStatus" HeaderText="Status" Width="100" />
                <GridColumn TextAlign="TextAlign.Center" Field="Note" HeaderText="Note" Width="150" />
                <GridColumn HeaderText="Actions" Width="150" TextAlign="TextAlign.Center">
                    <Template>
                        <button class="btn custom-add-button" @onclick="(() => OpenEditDialog((context as BlackListItem)))">Edit</button>
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>

<!-- Black List Add Modal -->
<SfDialog IsModal="true" Width="600px" Visible="@IsAddModalOpen" Header="Add Black List Item" OnClose="() => IsAddModalOpen = false">

    <DialogTemplates>
        <Content>
            <EditForm Model="@NewBlackList" OnValidSubmit="SaveBlackList" class="needs-validation" novalidate>
                <DataAnnotationsValidator />
            <div class="mt-2">
                <label>Select Doctor:</label>
                <SfDropDownList TValue="Guid" 
                    TItem="DoctorListItems" 
                    DataSource="@Doctors" 
                    @bind-Value="NewBlackList.DoctorId" 
                    Placeholder="Select Doctor"
                    CssClass="e-custom">
                    <DropDownListFieldSettings Text="Name" Value="Id" />
                </SfDropDownList>
                    <ValidationMessage For="@(() => NewBlackList.DoctorId)" />
            </div>
            <div class="mt-2">
                <label>Select Patient:</label>
                <SfDropDownList TValue="Guid" 
                    TItem="PatientListItems" 
                    DataSource="@Patients" 
                    @bind-Value="NewBlackList.PatientId" 
                    Placeholder="Select Patient"
                    CssClass="e-custom">
                    <DropDownListFieldSettings Text="Name" Value="Id" />
                </SfDropDownList>
            </div>
            <div class="mt-2">
                <label>Select Status:</label>
                <SfDropDownList DataSource="@BlackListStatusCoolection"
                                Placeholder="Black List Status"
                                CssClass="e-custom"
                                @bind-Value="@NewBlackList.BlackListStatus">
                    <DropDownListFieldSettings Value="Id" Text="DisplayName"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
            <div class="mt-2">
                <SfTextArea Placeholder="Note"
                            CssClass="e-corner"
                            @bind-Value="@NewBlackList.Note">
                </SfTextArea>
                    <ValidationMessage For="@(() => NewBlackList.Note)" />
            </div>
                <div class="row mt-2 mb-2">
                    <div class="col-12 text-end">
                        <SfButton CssClass="btn custom-add-button" Content="Kaydet" Type="Submit"></SfButton>
                        <button type="button" class="btn custom-delete-button" @onclick="() => IsAddModalOpen = false">Cancel</button>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<!-- Black List Edit Modal -->
<SfDialog @bind-Visible="@IsEditModalOpen" Width="400px" Header="Edit Blacklist Status">
    <DialogTemplates>
        <Content>
            <div>
                <h5>Change Status for: @SelectedBlackList?.PatientFullName</h5>
                <SfDropDownList DataSource="@BlackListStatusCoolection"
                                @bind-Value="@SelectedBlackListStatus">
                    <DropDownListFieldSettings Value="Id" Text="DisplayName"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
        </Content>
        <FooterTemplate>
            <button class="btn custom-add-button" @onclick="UpdateBlackListStatus">Save</button>
            <button class="btn custom-delete-button" @onclick="CloseDialog">Cancel</button>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

