@* @page "/doctor-details/{doctorId:guid}" *@
@page "/doctor-details"

@using Pusula.Training.HealthCare.Permissions
@using Pusula.Training.HealthCare.Shared
@using Pusula.Training.HealthCare.Protocols
@using Volo.Abp.Identity
@using Pusula.Training.HealthCare.Titles
@using Syncfusion.Blazor.Navigations
@using Microsoft.AspNetCore.Authorization
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Pusula.Training.HealthCare.Blazor.Containers
@using Microsoft.Extensions.Localization
@inject DoctorsStateContainer DoctorsStateService
@inject IProtocolsAppService ProtocolsAppService
@inject NavigationManager NavigationManager



<h3>DoctorDetails</h3>




@*  PAGE HEADER *@
#<!-- #region name  PAGE HEADER-->

<div class="container-fluid bg-light py-3 border-bottom">
    <div class="row align-items-center">
        <!-- Search Bar -->
        <div class="col-md-4">
            <div class="input-group">
                <SfTextBox Placeholder="Protokol Ara"
                           FloatLabelType="FloatLabelType.Never"
                           @bind-Value="ProtocolsFilter.FilterText"
                          
                           Input="OnInputChange">
                </SfTextBox>
            </div>
        </div>

        <!-- Date Picker -->
        <div class="col-md-3">
            <SfDateRangePicker TValue="DateTime?"
                               Placeholder="Tarih Aralığı Seçin">
                <DateRangePickerEvents TValue="DateTime?" ValueChange="@OnDateRangeChange"></DateRangePickerEvents>
            </SfDateRangePicker>
        </div>
       @*  <!-- Buttons -->
        <div class="col-md-5 text-end">
            <button class="btn btn-primary me-2">İş Listesi</button>
            <button class="btn btn-success">Randevular</button>
        </div> *@
    </div>
</div>

<!-- #endregion -->

<SfGrid DataSource="@ProtocolsList" AllowPaging="true">
    <GridColumns>
        <!-- Cinsiyet -->
       @*  <GridColumn HeaderText="Cinsiyet" Width="100">
            <Template>
                @if (context is ProtocolDto protocol)
                {
                    @protocol.PatientGender
                  
                }
            </Template>
        </GridColumn> *@
        <GridColumn Field=@nameof(ProtocolDto.PatientGender) HeaderText="Cinsiyet" Width="100" ></GridColumn>
   
        <!-- Hasta No -->
        <GridColumn HeaderText="Hasta No" Width="100">
            <Template>
                @if (context is ProtocolDto protocol)
                {
                    @protocol.PatientNo
                }
            </Template>
        </GridColumn>

      

        <!-- Hasta Adı ve Soyadı -->
        <GridColumn HeaderText="Hasta Adı ve Soyadı" Width="200">
            <Template>
                @if (context is ProtocolDto protocol)
                {
                    @($"{protocol.PatientFirstName} {protocol.PatientLastName}")
                }
            </Template>
        </GridColumn>

        <!-- Hasta Doğum Tarihi ve Yaşı -->
        <GridColumn HeaderText="Doğum Tarihi (Yaş)" Width="150">
            <Template>
                @if (context is ProtocolDto protocol)
                {
                    var birthDate = protocol.PatientBirthDate;
                    var age = DateTime.Now.Year - birthDate.Year;
                    if (DateTime.Now < birthDate.AddYears(age)) age--;
                    @($"{birthDate:dd.MM.yyyy} ({age} yaşında)")
                }
            </Template>
        </GridColumn>

        <!-- Protokol  No -->
        <GridColumn HeaderText="Protokol No" Width="100">
            <Template>
                @if (context is ProtocolDto protocol)
                {
                    @protocol.No
                }
            </Template>
        </GridColumn>

        <!-- Göreve Git Butonu -->
        <GridColumn HeaderText="Göreve Git" Width="120">
            <Template>
                @if (context is ProtocolDto protocol)
                {
                    <SfButton CssClass="e-primary" Content="Göreve Git"
                              @onclick="(() => NavigateToExamination(protocol.Id, protocol.PatientId))">
                    </SfButton>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>