@page "/laborer-backlog"
@using Microsoft.Extensions.Localization
@using Pusula.Training.HealthCare.Blazor.Containers
@using Pusula.Training.HealthCare.LabRequests
@using Pusula.Training.HealthCare.TestProcesses

@inject ITestProcessesAppService TestProcessesAppService
@inject ILabRequestsAppService LabRequestsAppService
@inject TestProcessStateContainer TestProcessState

<div class="flex-grow-1 d-flex justify-content-center mb-2">
    <SfTextBox Placeholder="Protokol Ara"
               FloatLabelType="FloatLabelType.Never"
               @bind-Value="LabRequestsFilter!.FilterText"
               CssClass="lab-textbox"
               Width="50%"
               Input="OnInputChange">
    </SfTextBox>
</div>

<div class="d-flex flex-row">
    <SfTab CssClass="lab-tab">
        <TabItems>
            @*İş Listesi Tab'ı*@
            <TabItem>
                <HeaderTemplate>İş Listesi</HeaderTemplate>

                <ContentTemplate>
                    <SfGrid DataSource="@InProgressLabRequests" ID="lab-grid" AllowPaging="false" AllowSorting="true" RowHeight="40" Width="100%" Height="800px" GridLines="@GridLine.Both">
                        <GridColumns>
                            <GridColumn Field=@nameof(LabRequestDto.ProtocolNo) HeaderText="Protokol No" Width="10" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn Field=@nameof(LabRequestDto.CreationTime) HeaderText="Protokol Başlangıç Tarihi" Width="20" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn HeaderText="Hasta Adı-Soyadı" Width="25" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is LabRequestDto labRequest)
                                    {
                                        <span>@labRequest.PatientName @labRequest.PatientSurname</span>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="İsteyen Doktor" Width="25" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is LabRequestDto labRequest)
                                    {
                                        <span>@labRequest.DoctorName @labRequest.DoctorSurname</span>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(LabRequestDto.Status) HeaderText="Protokol Durumu" Width="25" TextAlign="TextAlign.Center"></GridColumn>

                            <GridColumn Width="25" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is LabRequestDto labRequest)
                                    {
                                        <SfButton CssClass="e-small lab-button" OnClick="(() => OpenResultUpdateModal(labRequest))">Sonuç Gir</SfButton>
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </TabItem>

            @*Biten İşler Tab'ı*@
            <TabItem>
                <HeaderTemplate>Biten İşler</HeaderTemplate>

                <ContentTemplate>
                    <SfGrid DataSource="@CompletedLabRequests" AllowPaging="false" AllowSorting="true" RowHeight="40" Width="100%" Height="750px" GridLines="@GridLine.Both">
                        <GridColumns>
                            <GridColumn Field=@nameof(LabRequestDto.ProtocolNo) HeaderText="Protokol No" Width="10" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn Field=@nameof(LabRequestDto.CreationTime) HeaderText="Protokol Başlangıç Tarihi" Width="20" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn HeaderText="Hasta Adı-Soyadı" Width="25" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is LabRequestDto labRequest)
                                    {
                                        <span>@labRequest.PatientName @labRequest.PatientSurname</span>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="İsteyen Doktor" Width="25" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is LabRequestDto labRequest)
                                    {
                                        <span>@labRequest.DoctorName @labRequest.DoctorSurname</span>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(LabRequestDto.Status) HeaderText="Protokol Durumu" Width="25" TextAlign="TextAlign.Center"></GridColumn>

                            <GridColumn Width="25" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is LabRequestDto labRequest)
                                    {
                                        <SfButton CssClass="e-small lab-button" OnClick="(() => OpenResultUpdateModal(labRequest))">Sonuç Değiştir</SfButton>
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>
@*Sonuç Gir Dialog*@
<SfDialog @ref="ResultDialog" CssClass="lab-dialog" IsModal="true" ShowCloseIcon="true" Width="600px" Visible="false" Header="Test Sonuçları">
    <DialogTemplates>
        <Content>
            <SfGrid DataSource="@SelectedTestProcessesList" AllowPaging="false" RowHeight="40" Width="100%" Height="300px">
                <GridColumns>
                    <GridColumn HeaderText="Test Grubu" Width="50%">
                        <Template Context="context">
                            @if (context is TestProcessWithNavigationPropertiesDto testProcess)
                            {
                                <span>@testProcess.TestGroupItem?.Name</span>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Sonuç" Width="50%">
                        <Template Context="context">
                            @if (context is TestProcessWithNavigationPropertiesDto testProcess)
                            {
                                <SfNumericTextBox TValue="decimal?"
                                                  @bind-Value="testProcess.TestProcess!.Result"
                                                  Placeholder="Sonuç Girin" Min="0">
                                </SfNumericTextBox>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </Content>
        <FooterTemplate>
            <SfButton CssClass="e-small e-success" OnClick="SaveResult">Kaydet</SfButton>
            <SfButton CssClass="e-small e-primary" OnClick="CloseResultDialog">Kapat</SfButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
