@page "/laborer-backlog"
@using Microsoft.Extensions.Localization
@using Pusula.Training.HealthCare.Extensions
@using Pusula.Training.HealthCare.LabRequests
@using Pusula.Training.HealthCare.TestProcesses

@inject ITestProcessesAppService TestProcessesAppService
@inject ILabRequestsAppService LabRequestsAppService
@inject IStringLocalizer<LaborerBacklog> Localizer

<div class="flex-grow-1 d-flex justify-content-center mb-2">
    <SfTextBox Placeholder="Protokol Ara"
               FloatLabelType="FloatLabelType.Never"
               @bind-Value="LabRequestsFilter!.FilterText"
               Width="50%"
               Input="OnInputChange">
    </SfTextBox>
</div>

 <div class="d-flex flex-row">
<SfTab>
    <TabItems>
        <!-- InProgress Tab -->
        <TabItem>
                <HeaderTemplate>İş Listesi</HeaderTemplate>

                <ContentTemplate>
                <SfGrid DataSource="@InProgressLabRequests" AllowPaging="false" AllowSorting="true" RowHeight="40" Width="100%" Height="750px" AllowResizing="false" GridLines="@GridLine.Both">
                    <GridColumns>
                        <GridColumn Field=@nameof(LabRequestDto.ProtocolNo) HeaderText="Protokol No" Width="10" TextAlign="TextAlign.Center"></GridColumn>
                        <GridColumn Field=@nameof(LabRequestDto.ProtocolStartDate) HeaderText="Protokol Başlangıç Tarihi" Width="20" TextAlign="TextAlign.Center"></GridColumn>
                        <GridColumn HeaderText="Hasta Adı-Soyadı" Width="25" TextAlign="TextAlign.Center">
                            <Template Context="context">
                                @if (context is LabRequestDto labrequest)
                                {
                                    <span>@labrequest.PatientName @labrequest.PatientSurname</span>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn HeaderText="İsteyen Doktor" Width="25" TextAlign="TextAlign.Center">
                            <Template Context="context">
                                @if (context is LabRequestDto labrequest)
                                {
                                    <span>@labrequest.DoctorName @labrequest.DoctorSurname</span>
                                }
                            </Template>
                        </GridColumn>
                            <GridColumn Field=@nameof(LabRequestDto.Status) HeaderText="Protokol Durumu" Width="25" TextAlign="TextAlign.Center"></GridColumn>

                        <GridColumn Width="25" TextAlign="TextAlign.Center">
                            <Template Context="context">
                                @if (context is LabRequestDto labRequest)
                                {
                                    <SfButton CssClass="e-small e-primary" OnClick="(() => OpenResultUpdateModal(labRequest))">Sonuç Gir</SfButton>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </ContentTemplate>
        </TabItem>

<!-- Completed Tab -->
        <TabItem>
                <HeaderTemplate>Biten İşler</HeaderTemplate>

                <ContentTemplate>
                <SfGrid DataSource="@CompletedLabRequests" AllowPaging="false" AllowSorting="true" RowHeight="40" Width="100%" Height="750px" AllowResizing="false" GridLines="@GridLine.Both">
                    <GridColumns>
                        <GridColumn Field=@nameof(LabRequestDto.ProtocolNo) HeaderText="Protokol No" Width="10" TextAlign="TextAlign.Center"></GridColumn>
                        <GridColumn Field=@nameof(LabRequestDto.ProtocolStartDate) HeaderText="Protokol Başlangıç Tarihi" Width="20" TextAlign="TextAlign.Center"></GridColumn>
                        <GridColumn HeaderText="Hasta Adı-Soyadı" Width="25" TextAlign="TextAlign.Center">
                            <Template Context="context">
                                @if (context is LabRequestDto labrequest)
                                {
                                    <span>@labrequest.PatientName @labrequest.PatientSurname</span>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn HeaderText="İsteyen Doktor" Width="25" TextAlign="TextAlign.Center">
                            <Template Context="context">
                                @if (context is LabRequestDto labrequest)
                                {
                                    <span>@labrequest.DoctorName @labrequest.DoctorSurname</span>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field=@nameof(LabRequestDto.Status) HeaderText="Protokol Durumu" Width="25" TextAlign="TextAlign.Center"></GridColumn>
                        <GridColumn Width="25" TextAlign="TextAlign.Center">
                            <Template Context="context">
                                @if (context is LabRequestDto labRequest)
                                {
                                    <SfButton CssClass="e-small e-primary" OnClick="(() => OpenResultUpdateModal(labRequest))">Sonuç Değiştir</SfButton>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </ContentTemplate>
        </TabItem>
    </TabItems>
</SfTab>
</div>

@*Sonuç Gir Dialog*@
<SfDialog @ref="ResultDialog" IsModal="true" ShowCloseIcon="true" Width="600px" Visible="false" Header="Test Sonuçları">
    <DialogTemplates>
        <Content>
            <SfGrid DataSource="@TestProcessesList" AllowPaging="false" AllowSorting="true" RowHeight="40" Width="100%" Height="300px" AllowResizing="false" GridLines="@GridLine.Both">
                <GridColumns>
                    <GridColumn Field=@nameof(TestProcessDto.TestGroupName) HeaderText="Grup" Width="50%"></GridColumn>
                    <GridColumn Field=@nameof(TestProcessDto.TestGroupItemName) HeaderText="Test" Width="50%"></GridColumn>
                    <GridColumn Field=@nameof(TestProcessDto.Result) HeaderText="Sonuç" Width="50%">
                        <Template Context="context">
                            @if (context is TestProcessDto testProcess)
                            {
                                <SfNumericTextBox TValue="decimal?" @bind-Value="testProcess.Result" Placeholder="Sonuç Girin" Min="0"></SfNumericTextBox>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </Content>
        <FooterTemplate>
            <SfButton CssClass="e-small e-success" OnClick="SaveResult">Kaydet</SfButton>
            <SfButton CssClass="e-small e-primary" OnClick="CloseResultDialog">Kapat</SfButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

@* YAPILACAKLAR
   - Business rules eklenecek.
   - Toast ile handle error ve işlem durumları gösterilecek.
*@