@page "/lab-protocols"

@using Pusula.Training.HealthCare.Blazor.Containers.Concretes
@using Pusula.Training.HealthCare.LabRequests

@inject LabRequestStateContainer LabRequestService
@inject NavigationManager NavigationManager
@inject ILabRequestsAppService LabRequestsAppService

<div class="d-flex justify-content-between align-items-center p-3 border-bottom">
    <div class="flex-grow-1 d-flex justify-content-center">
        <SfTextBox Placeholder="Protokol Ara"
                   FloatLabelType="FloatLabelType.Never"
                   @bind-Value="LabRequestsFilter!.FilterText"
                   CssClass="lab-textbox"
                   Width="50%"
                   Input="OnInputChange">
        </SfTextBox>

    </div>
    <div>
        @if (LabRequestService.SelectedLabRequest != null)
        {
            <SfButton OnClick="RedirectToTestRequest" CssClass="e-medium lab-button" Content="Test İste"></SfButton>
        }
    </div>
</div>

<SfGrid DataSource="@LabRequestsList" ID="lab-grid" AllowPaging="false" AllowSorting="true" RowHeight="40" Height="750px">
    <GridEvents TValue="LabRequestDto" RowSelected="RowSelectHandler"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(LabRequestDto.ProtocolNo) HeaderText="Protokol No" Width="10"></GridColumn>
        <GridColumn Field=@nameof(LabRequestDto.CreationTime) HeaderText="Protokol Başlangıç T." Width="25" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn HeaderText="Hasta Adı-Soyadı" Width="25" TextAlign="TextAlign.Center">
            <Template Context="context">
                @if (context is LabRequestDto labrequest)
                {
                    <span>@labrequest.PatientName @labrequest.PatientSurname</span>
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="İsteyen Doktor" Width="25" TextAlign="TextAlign.Center">
            <Template Context="context">
                @if (context is LabRequestDto labrequest)
                {
                    <span>@labrequest.DoctorName @labrequest.DoctorSurname</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(LabRequestDto.Status) HeaderText="Protokol Durumu" Width="25" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(LabRequestDto.Description) HeaderText="Açıklama" Width="25" TextAlign="TextAlign.Center">
            <Template>
                @if (context is LabRequestDto labRequest)
                {
                    <SfButton CssClass="e-small e-link"
                              OnClick="(() => OpenDescriptionModal(labRequest.Description))"
                              Style="@(string.IsNullOrEmpty(labRequest.Description) ? "display:none;" : "")">
                        <i class="fa-regular fa-file"></i>
                    </SfButton>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

<SfDialog @ref="DescriptionDialog" IsModal="true" ShowCloseIcon="true" Width="400px" Header="Açıklama" Visible="false">
    <DialogTemplates>
        <Content>
            <p>@SelectedDescription</p>
        </Content>
        <FooterTemplate>
            <SfButton CssClass="e-small e-secondary" Content="Kapat" OnClick="CloseDescriptionModal"></SfButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>