@page "/lab-request"

@using Microsoft.Extensions.Localization
@using Pusula.Training.HealthCare.Blazor.Containers.Concretes
@using Pusula.Training.HealthCare.Blazor.Models
@using Pusula.Training.HealthCare.LabRequests
@using Pusula.Training.HealthCare.TestGroupItems
@using Pusula.Training.HealthCare.TestGroups
@using Pusula.Training.HealthCare.TestProcesses

@inject NavigationManager NavigationManager
@inject LabRequestStateContainer LabRequestService
@inject ITestGroupItemsAppService TestGroupItemsAppService
@inject ITestGroupsAppService TestGroupsAppService
@inject ILabRequestsAppService LabRequestsAppService
@inject ITestProcessesAppService TestProcessesAppService
@inject IStringLocalizer<LabTestRequest> Localizer
@inject TestProcessStateContainer TestProcessState


@if (!_isInitialized)
{
    <p>Yükleniyor...</p>
}
else
{
    <div class="w-100 d-flex justify-content-between align-items-center">
        @* Ortadaki Buton (Hasta Bilgileri) *@
        <div class="flex-grow-1 text-center">
            <SfButton CssClass="e-outline"
                      IconCss="e-icons e-user"
                      Content="@($"{LabRequestService.SelectedLabRequest!.PatientName ?? "Ad"} {LabRequestService.SelectedLabRequest!.PatientSurname ?? "Soyad"}")"
                      @onclick="OpenPatientDetailsModal" />
        </div>

        @* Sağdaki Buton *@
        <div>
            <SfButton CssClass="e-icon-left e-small lab-button"
                      IconCss="e-icons e-clock"
                      Content="İstem Tarihçesi"
                      OnClick="OpenHistoryModal"></SfButton>
        </div>
    </div>

    @*Test Groups & Items Data Grid*@
    <div class="d-flex flex-row">
        <div class="col-2">
            <SfTextBox Placeholder="Test Ara"
                       FloatLabelType="FloatLabelType.Never"
                       @bind-Value="TestGroupItemsFilter!.FilterText"
                       CssClass="lab-textbox"
                       Width="100%"
                       Input="@(async (args) => await SearchAsync(args))">
            </SfTextBox>
        </div>
    </div>

    @*Test Groups & Items Data Grid*@
    <div class="d-flex flex-row mt-0 border-bottom pb-2">
        @*Sol*@
        <div class="col-2">
            <SfGrid DataSource="@TestGroupsList" ID="lab-grid" Width="100%" AllowPaging="false" AllowSorting="false" RowHeight="40" Height="300px">
                <GridColumns>
                    <GridColumn Field="@nameof(TestGroup.Name)" HeaderText="Laboratuvar" Width="70" HeaderTextAlign="TextAlign.Left">
                        <Template Context="group">
                            @if (group is TestGroupDto testGroup)
                            {
                                <SfButton CssClass="e-link" Content="@testGroup.Name" OnClick="(() => FilterTestGroupItems(testGroup.Id))"></SfButton>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>

        @*Sağ*@
        <div class="col-10">
            <SfGrid DataSource="@TestGroupItemsList" ID="lab-grid" AllowPaging="false" AllowSorting="false" RowHeight="40" Height="300px">
                <GridColumns>
                    <GridColumn Width="3%">
                        <Template>
                            @if (context is TestGroupItemDto testGroupItem)
                            {
                                <SfButton CssClass="e-icon-left e-flat e-small"
                                          IconCss="e-icons e-plus"
                                          OnClick="(() => OnAddClick(testGroupItem))">
                                </SfButton>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Test Adı - Kodu" TextAlign="TextAlign.Left">
                        <Template>
                            @if (context is TestGroupItemDto testGroupItem)
                            {
                                <span>@testGroupItem.Name - @testGroupItem.Code</span>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@nameof(TestGroupItem.TestType)" HeaderText="Test Tipi" TextAlign="TextAlign.Center"></GridColumn>
                    <GridColumn HeaderText="Açıklama" TextAlign="TextAlign.Center">
                        <Template>
                            @if (context is TestGroupItemDto testGroupItem)
                            {
                                <SfButton CssClass="e-small e-link"
                                          OnClick="(() => OpenDescriptionModal(testGroupItem.Description))">
                                    <i class="fa-regular fa-file"></i>
                                </SfButton>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>

    @*Patient Test Requests*@
    <div class="container-fluid py-2">
        <div class="d-flex justify-content-end">
            <SfButton CssClass="e-icon-left lab-button"
                      Content="İstem Yazdır"
                      IconCss="e-icons e-print"
                      OnClick="OnTestProcessesPrintClick">
            </SfButton>
        </div>
    </div>

    @*Requests List*@
    <SfGrid @ref="TestProcessesGrid" ID="lab-grid" DataSource="@TestProcessesWithNavigationList" AllowPaging="false" Height="300px" AllowSorting="true" RowHeight="40" PrintMode="PrintMode.AllPages">
        <GridColumns>
            <GridColumn HeaderText="İstem Tarihi" TextAlign="TextAlign.Center">
                <Template Context="item">
                    @if (item is TestProcessWithNavigationPropertiesDto process)
                    {
                        <span>@process.TestProcess?.CreationTime.ToString("dd.MM.yyyy HH:mm")</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="İsteyen Doktor" TextAlign="TextAlign.Center">
                <Template Context="item">
                    @if (item is TestProcessWithNavigationPropertiesDto process)
                    {
                        <span>@($"{process.LabRequest?.DoctorName} {process.LabRequest?.DoctorSurname}")</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Test Adı" TextAlign="TextAlign.Center">
                <Template Context="item">
                    @if (item is TestProcessWithNavigationPropertiesDto process)
                    {
                        <span>@process.TestGroupItem?.Name</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Durum" TextAlign="TextAlign.Center">
                <Template Context="item">
                    @if (item is TestProcessWithNavigationPropertiesDto process)
                    {
                        <span>@process.TestProcess?.Status</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="İşlem" TextAlign="TextAlign.Right">
                <Template>
                    @if (context is TestProcessWithNavigationPropertiesDto process)
                    {
                        <div class="d-flex justify-content-center">
                            <SfButton CssClass="e-small e-link" IconCss="e-icons e-delete" OnClick="(() => OpenTestProcessDeleteModal(process.TestProcess!.Id))"></SfButton>
                        </div>
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>

    @*Description Detail Modal*@
    <SfDialog @ref="DescriptionDialog" IsModal="true" ShowCloseIcon="true" Width="400px" Header="Açıklama" Visible="false">
        <DialogTemplates>
            <Content>
                <p>@SelectedDescription</p>
            </Content>
            <FooterTemplate>
                <SfButton CssClass="e-small e-secondary" Content="Kapat" OnClick="CloseDescriptionModal"></SfButton>
            </FooterTemplate>
        </DialogTemplates>
    </SfDialog>

    @*Delete Modal*@
    <SfDialog @ref="DeleteTestProcessDialog" IsModal="true" ShowCloseIcon="true" Width="300px" Visible="false">
        <DialogTemplates>
            <Content>
                <p>Silmek istediğinize emin misiniz?</p>
            </Content>
            <FooterTemplate>
                <SfButton CssClass="e-small e-danger" OnClick="ConfirmTestProcessDelete">Evet</SfButton>
                <SfButton CssClass="e-small e-primary" OnClick="CloseTestProcessDeleteModal">Hayır</SfButton>
            </FooterTemplate>
        </DialogTemplates>
    </SfDialog>

    @*Test History Modal*@
    <SfDialog @ref="HistoryDialog" IsModal="true" ShowCloseIcon="true" Width="600px" Visible="false" CssClass="lab-dialog">
        <DialogTemplates>
            <Content>
                <div class="d-flex justify-content-end align-items-center w-100 mb-1">
                    <SfButton CssClass="e-icon-left lab-button"
                              Content="Yazdır"
                              IconCss="e-icons e-print"
                              OnClick="OnTestResultsPrintClick">
                    </SfButton>
                </div>
                <div class="mb-3">
                    <SfGrid @ref="TestResultsGrid" DataSource="@ApprovedTestProcesses" ID="lab-grid" AllowPaging="false" AllowSorting="true" RowHeight="40" Width="100%" Height="400px" AllowResizing="false" GridLines="GridLine.Both">
                        <GridColumns>
                            <GridColumn HeaderText="Test Adı" Width="50%" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is TestProcessWithNavigationPropertiesDto testProcess)
                                    {
                                        @testProcess.TestGroupItem!.Name
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn HeaderText="Tamamlanma T." Width="35%" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is TestProcessWithNavigationPropertiesDto testProcess)
                                    {
                                        @testProcess.TestProcess!.ResultDate?.ToString("dd/MM/yyyy")
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="Min-Max Değer" Width="30%" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is TestProcessWithNavigationPropertiesDto testProcess)
                                    {
                                        @($"{testProcess.TestValueRange?.MinValue} - {testProcess.TestValueRange?.MaxValue}")
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="Sonuç" Width="25%" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is TestProcessWithNavigationPropertiesDto testProcess)
                                    {
                                        @testProcess.TestProcess!.Result
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="" Width="25%" TextAlign="TextAlign.Center">
                                <Template Context="context">
                                    @if (context is TestProcessWithNavigationPropertiesDto testProcess)
                                    {
                                        var gridItem = new TestResultCalculateModel(testProcess!);

                                        <span style="@gridItem.TextStyle?">
                                            <span>@gridItem.Icon</span> @gridItem.Text
                                        </span>
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </Content>
        </DialogTemplates>
    </SfDialog>

    /*Patient Details Modal*/
    <SfDialog @ref="PatientDetailsModal" CssClass="lab-dialog" Width="400px" IsModal="true" ShowCloseIcon="true" Visible="false">
        <Syncfusion.Blazor.Cards.SfCard>
            <Syncfusion.Blazor.Cards.CardHeader Title="Hasta Bilgileri">
            </Syncfusion.Blazor.Cards.CardHeader>
            <Syncfusion.Blazor.Cards.CardContent EnableSeparator="true">
                <p><strong>Adı:</strong> @LabRequestService.SelectedLabRequest!.PatientName</p>
                <p><strong>Soyadı:</strong> @LabRequestService.SelectedLabRequest!.PatientSurname</p>
                <p><strong>Doğum Tarihi:</strong> @LabRequestService.SelectedLabRequest!.PatientBirthDate</p>
            </Syncfusion.Blazor.Cards.CardContent>
            <Syncfusion.Blazor.Cards.CardContent EnableSeparator="true">
                <p><strong>Sigorta:</strong> @LabRequestService.SelectedLabRequest!.InsuranceName</p>
            </Syncfusion.Blazor.Cards.CardContent>
        </Syncfusion.Blazor.Cards.SfCard>
    </SfDialog>
}

@*Toast*@
<SfToast @ref="ToastObj" Width="300px">
    <ToastPosition X="Right" Y="Top"></ToastPosition>
</SfToast>