@page "/patient-details"

@using Microsoft.Extensions.Localization
@using Pusula.Training.HealthCare.Blazor.Containers
@using Pusula.Training.HealthCare.Departments
@using Pusula.Training.HealthCare.Doctors
@using Pusula.Training.HealthCare.Insurances
@using Pusula.Training.HealthCare.Localization
@using Pusula.Training.HealthCare.Notes
@using Pusula.Training.HealthCare.Patients
@using Pusula.Training.HealthCare.ProtocolTypes
@using Pusula.Training.HealthCare.Protocols
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@using Volo.Abp.AspNetCore.Components.Web

@inject IStringLocalizer<HealthCareResource> L
@inject PatientStateContainer StateService
@inject NavigationManager NavigationManager
@inject PatientStateContainer PatientStateService
@inject IProtocolsAppService ProtocolsAppService
@inject IInsurancesAppService InsurancesAppService
@inject IProtocolTypesAppService ProtocolTypesAppService
@inject IDepartmentsAppService DepartmentsAppService
@inject IDoctorsAppService DoctorsAppService
@inject INotesAppService NotesAppService


<!-- Patient Details -->
   <div class="row">
    <!-- Sol Panel -->
    <div class="col-md-3">
        <div class="control-section card-control-section tile_layout">
            <div class='row e-card-layout' style="margin: auto">
                <div>
                    <h3 style="margin-bottom: 20px; margin-left: 0; font-weight: bold;">Patient Detail</h3>
                    <SfCard Class="patient-card">
                        <CardContent>
                            <SfButton CssClass="e-button e-outline e-primary" @onclick="NavigateBack">Back</SfButton>
                            <div class="text-center">
                                <img src="/images/main/avatar.jpg" class="custom-avatar" alt="Patient Avatar" />
                            </div>
                        </CardContent>

                        <CardContent>
                            @if (ShowTable)
                            {
                                <!-- Personal Information -->
                                <CardContent>
                                    <h4 class="fw-bold text-center mt-3">Personal</h4>
                                    <table style="line-height: 2.75em;">
                                        <tr>
                                            <td><b>Full Name:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.FirstName @PatientStateService.SelectedPatientNavigation.Patient?.LastName</td>
                                        </tr>
                                        <tr>
                                            <td><b>Gender:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.Gender</td>
                                        </tr>
                                        <tr>
                                            <td><b>Birthdate:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.BirthDate.ToShortDateString()</td>
                                        </tr>
                                        <tr>
                                            <td><b>Identity Number:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.IdentityNumber</td>
                                        </tr>
                                        <tr>
                                            <td><b>Passport Number:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.PassportNumber</td>
                                        </tr>
                                    </table>
                                </CardContent>

                                <!-- Contact Information -->
                                <CardContent>
                                    <h4 class="fw-bold text-center mt-3">Contact</h4>
                                    <table style="line-height: 2.75em;">
                                        <tr>
                                            <td><b>Mobile Phone:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.MobilePhoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td><b>Emergency Phone:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.EmergencyPhoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td><b>Email:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.Email</td>
                                        </tr>
                                        <tr>
                                            <td><b>Company:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.PatientCompany?.Name</td>
                                        </tr>
                                    </table>
                                </CardContent>

                                <!-- Additional Information -->
                                <CardContent>
                                    <h4 class="fw-bold text-center mt-3">Additional</h4>
                                    <table style="line-height: 2.75em;">
                                        <tr>
                                            <td><b>Mother Name:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.MotherName</td>
                                        </tr>
                                        <tr>
                                            <td><b>Father Name:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.FatherName</td>
                                        </tr>
                                        <tr>
                                            <td><b>Blood Type:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.BloodType.ToString().Replace('_', ' ')</td>
                                        </tr>
                                        <tr>
                                            <td><b>Type:</b></td>
                                            <td>@PatientStateService.SelectedPatientNavigation.Patient?.Type</td>
                                        </tr>
                                    </table>
                                </CardContent>
                            }
                            else
                            {

                                <!-- Address Information -->
                                <CardContent>
                                    <h4 class="fw-bold text-center mt-3">Addresses</h4>
                                    @if (PatientStateService?.SelectedPatientNavigation?.Addresses != null && PatientStateService.SelectedPatientNavigation.Addresses.Any())
                                    {
                                        foreach (var address in PatientStateService.SelectedPatientNavigation.Addresses.OrderByDescending(a => a.IsPrimary))
                                        {
                                            <h5 class="fw-bold text-center mt-3">
                                                
                                                @if (address.IsPrimary)
                                                {
                                                    
                                                    <span style="color: green;">(Primary)</span>
                                                }
                                            </h5>
                                            <h5 class="fw-bold text-center mt-3">Address</h5>
                                            <table style="line-height: 2.75em;">
                                                <tr>
                                                    <td><b>Country:</b></td>
                                                    <td>@address.CountryName</td>
                                                </tr>
                                                <tr>
                                                    <td><b>City:</b></td>
                                                    <td>@address.CityName</td>
                                                </tr>
                                                <tr>
                                                    <td><b>District:</b></td>
                                                    <td>@address.DistrictName</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Village:</b></td>
                                                    <td>@address.VillageName</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Address:</b></td>
                                                    <td>@address.AddressDescription</td>
                                                </tr>
                                            </table>
                                        }
                                    }
                                    else
                                    {
                                        <h5 class="fw-bold text-center mt-3 text-danger">No Addresses Found</h5>
                                    }

                                    <div class="right-align">
                                        <SfButton CssClass="e-button e-btn e-outline e-primary" @onclick="@(() => ShowTable = !ShowTable)">For Less Info</SfButton>
                                    </div>
                                </CardContent>


                            }

                        </CardContent>

                        @if (ShowTable)
                        {
                            <Syncfusion.Blazor.Cards.CardFooter>
                                <CardFooterContent>
                                    <div class="right-align">
                                        <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(()=> ShowTable = !ShowTable)">For More Info</SfButton>
                                    </div>
                                </CardFooterContent>
                            </Syncfusion.Blazor.Cards.CardFooter>
                        }
                    </SfCard>
                </div>
            </div>
        </div>
    </div>

    @* ************************* PROTOCOL LIST MODAL ************************* *@
    <!-- Sağ Panel -->
    
    <div class="col-md-9">
        
        <div class="d-flex justify-content-between align-items-center p-3 border-bottom">
            <div class="flex-grow-1 d-flex justify-content-center">
                <SfTextBox Placeholder="Protokol Ara"
                           FloatLabelType="FloatLabelType.Never"
                           @bind-Value="ProtocolsFilter!.FilterText"
                           CssClass="lab-textbox"
                           Width="50%"
                           Input="OnInputChange">
                </SfTextBox>
                <div>
                    <SfButton CssClass="e-medium lab-button"
                              Content="Protokol Ekle"
                              OnClick="@(async () => await OpenProtocolCreateModal(PatientStateService.SelectedPatientNavigation))">
                    </SfButton>
                </div>
            </div>
        </div>
        <div class="sfgrid-container">
            <SfGrid DataSource="@ProtocolsList" TValue="ProtocolDto" ID="lab-grid" AllowPaging="true" AllowSorting="true" RowHeight="40" Height="700px">
                <GridColumns>

                    <!-- Protocol No -->
                    <GridColumn Field=@nameof(ProtocolDto.No) HeaderText="Protocol No" Width="7" TextAlign="TextAlign.Center"></GridColumn>

                    <!-- Patient No -->
                    <GridColumn Field=@nameof(ProtocolDto.PatientNo) HeaderText="Patient No" Width="7" TextAlign="TextAlign.Center"></GridColumn>

                    <!-- Full Name -->
                    <GridColumn HeaderText="Full Name" Width="15" TextAlign="TextAlign.Center">
                        <Template Context="item">
                            @((item as ProtocolDto)?.PatientFirstName) @((item as ProtocolDto)?.PatientLastName)
                        </Template>
                    </GridColumn>

                    <!-- Department -->
                    <GridColumn Field=@nameof(ProtocolDto.DepartmentName) HeaderText="Department" Width="7" TextAlign="TextAlign.Center"></GridColumn>

                    <!-- Doctor -->
                    <GridColumn HeaderText="Doctor" Width="15" TextAlign="TextAlign.Center">
                        <Template Context="item">
                            @((item as ProtocolDto)?.DoctorTitleName) @((item as ProtocolDto)?.DoctorName) @((item as ProtocolDto)?.DoctorSurname)
                        </Template>
                    </GridColumn>

                    <!-- Protocol Type -->
                    <GridColumn Field=@nameof(ProtocolDto.ProtocolTypeName) HeaderText="Protocol Type" Width="7" TextAlign="TextAlign.Center"></GridColumn>

                    <!-- Insurance -->
                    <GridColumn Field=@nameof(ProtocolDto.ProtocolInsuranceName) HeaderText="Insurance" Width="7" TextAlign="TextAlign.Center"></GridColumn>

                    <!-- Status -->
                    <GridColumn Field=@nameof(ProtocolDto.ProtocolStatus) HeaderText="Status" Width="7" TextAlign="TextAlign.Center"></GridColumn>

                    <!-- Note -->
                    <GridColumn HeaderText="Note" Width="5" TextAlign="TextAlign.Center">
                        <Template Context="item">
                            @if (!string.IsNullOrEmpty((item as ProtocolDto)?.NoteText))
                            {
                                <SfButton CssClass="e-small e-link"
                                          OnClick="(() => OpenNoteModal((item as ProtocolDto)?.NoteText))">
                                    <i class="fa-regular fa-file"></i>
                                </SfButton>
                            }
                        </Template>
                    </GridColumn>

                    <!-- Start Time -->
                    <GridColumn Field=@nameof(ProtocolDto.StartTime) HeaderText="Start Time" Width="7" TextAlign="TextAlign.Center"></GridColumn>

                    <!-- End Time -->
                    <GridColumn Field=@nameof(ProtocolDto.EndTime) HeaderText="End Time" Width="7" TextAlign="TextAlign.Center"></GridColumn>


                    <!-- Actions -->
                    <GridColumn HeaderText="Actions" Width="7" TextAlign="TextAlign.Center">
                        <Template Context="item">
                            @if (item is ProtocolDto protocol)
                            {
                                <div class="d-flex justify-content-center">
                                    <SfButton CssClass="e-small e-link" IconCss="e-icons e-edit"
                                              OnClick="(() => OpenProtocolUpdateModal(protocol))">
                                    </SfButton>
                                    <SfButton CssClass="e-small e-link" IconCss="e-icons e-delete"
                                              OnClick="(() => OpenProtocolDeleteModal(protocol.Id))">
                                    </SfButton>
                                </div>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
                </div>
                    </div>



@* ************************* PROTOCOL CREATE MODAL ************************* *@
<SfDialog @ref="CreateProtocolsDialog" IsModal="true" ShowCloseIcon="true" Width="600px" Header="New Protocol" Visible="false">
    <DialogTemplates>
        <Content>
            <EditForm Model="@ProtocolCreateDto" OnValidSubmit="AddNewProtocol" class="needs-validation" novalidate>
                <DataAnnotationsValidator />

                <div class="row">

                    <div class="col-6">
                        <label for="departmentId">Department</label>
                        <select id="departmentId" class="form-select" @bind="ProtocolCreateDto.DepartmentId">
                            <option value="">@L["Select"]</option>
                            @foreach (var department in FilteredDepartments)
                            {
                                    <option value="@department.Id">@department.Name</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => ProtocolCreateDto.DepartmentId)" />
                    </div>

                    <div class="col-6">
                        <label for="doctorId">Doctor</label>
                        <select id="doctorId" class="form-select" @bind="ProtocolCreateDto.DoctorId" @onclick="SelectDoctorAsync">
                            <option value="">@L["Select"]</option>
                            @foreach (var doctor in FilteredDoctors)
                            {
                                    <option value="@doctor.Doctor.Id">@doctor.FullName</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => ProtocolCreateDto.DoctorId)" />
                    </div>

                </div>

                <div class="row">

                    <div class="col-6">
                        <label for="protokolType">Type</label>
                        <select id="protokolId" class="form-select" @bind="ProtocolCreateDto.ProtocolTypeId">
                            <option value="">@L["Select"]</option>
                            @foreach (var type in ProtocolTypeList)
                            {
                                    <option value="@type.Id">@type.DisplayName</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => ProtocolCreateDto.ProtocolTypeId)" />
                    </div>

                    <div class="col-6">
                        <label for="insurance">Insurance</label>
                        <select id="insuranceId" class="form-select" @bind="ProtocolCreateDto.ProtocolInsuranceId">
                            <option value="">@L["Select"]</option>
                            @foreach (var insurance in InsuranceList)
                            {
                                    <option value="@insurance.Id">@insurance.DisplayName</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => ProtocolCreateDto.ProtocolInsuranceId)" />
                    </div>

                </div>

            <div class="row">

                <div class="col-6">
                    <label for="status">Status</label>
                    <select id="protocolStatus" class="form-select" @bind="ProtocolCreateDto.ProtocolStatus">
                            <option value="">@L["Select"]</option>
                            @foreach (var status in ProtocolStatusCollection)
                            {
                                <option value="@status.Id">@status.DisplayName</option>
                            }
                    </select>
                    <ValidationMessage For="@(() => ProtocolCreateDto.ProtocolStatus)" />
                </div>

                <div class="col-6">
                    <label for="protocolNote">Note</label>
                    <textarea id="note" class="form-control" rows="4" @bind="ProtocolCreateDto.NoteText"
                              placeholder="Note"></textarea>
                        <ValidationMessage For="@(() => ProtocolCreateDto.NoteText)" />
                </div>

            </div>

                <div class="row">

                    <div class="col-6">
                        <label for="startTime">Start Time</label>
                        <SfDateTimePicker TValue="DateTime" @bind-Value="ProtocolCreateDto.StartTime"></SfDateTimePicker>
                        <ValidationMessage For="@(() => ProtocolCreateDto.StartTime)" />
                    </div>

                    <div class="col-6">
                        <label for="endTime">End Time</label>
                        <SfDateTimePicker TValue="DateTime?" @bind-Value="ProtocolCreateDto.EndTime"></SfDateTimePicker>
                        <ValidationMessage For="@(() => ProtocolCreateDto.EndTime)" />
                    </div>

                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-12 text-end">
                        <SfButton CssClass="e-success e-medium m-1" Content="Kaydet" ></SfButton>
                        <SfButton CssClass="e-secondary e-medium m-1" Content="Iptal" OnClick="CloseProtocolCreateModal" Type="Button"></SfButton>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@* ************************* PROTOCOL UPDATE MODAL ************************* *@
<SfDialog @ref="UpdateProtocolsDialog" IsModal="true" ShowCloseIcon="true" Width="600px" Header="Update Protocol" Visible="false">
    <DialogTemplates>
        <Content>
            <EditForm Model="@ProtocolUpdateDto" OnValidSubmit="UpdateProtocol" class="needs-validation" novalidate>
                <DataAnnotationsValidator />

                <div class="row">

                    <div class="col-6">
                        <label for="departmentId">Department</label>
                        <select id="departmentId" class="form-select" @bind="ProtocolUpdateDto.DepartmentId">
                            <option value="">@L["Select"]</option>
                            @foreach (var department in FilteredDepartments)
                            {
                                <option value="@department.Id">@department.Name</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => ProtocolUpdateDto.DepartmentId)" />
                    </div>

                    <div class="col-6">
                        <label for="doctorId">Doctor</label>
                        <select id="doctorId" class="form-select" @bind="ProtocolUpdateDto.DoctorId" @onclick="SelectDoctorUpdateAsync">
                            <option value="">@L["Select"]</option>
                            @foreach (var doctor in FilteredDoctors)
                            {
                                <option value="@doctor.Doctor.Id">@doctor.FullName</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => ProtocolUpdateDto.DoctorId)" />
                    </div>

                </div>

                <div class="row">

                    <div class="col-6">
                        <label for="protokolType">Type</label>
                        <select id="protokolId" class="form-select" @bind="ProtocolUpdateDto.ProtocolTypeId">
                            <option value="">@L["Select"]</option>
                            @foreach (var type in ProtocolTypeList)
                            {
                                <option value="@type.Id">@type.DisplayName</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => ProtocolUpdateDto.ProtocolTypeId)" />
                    </div>

                    <div class="col-6">
                        <label for="insurance">Insurance</label>
                        <select id="insuranceId" class="form-select" @bind="ProtocolUpdateDto.ProtocolInsuranceId">
                            <option value="">@L["Select"]</option>
                            @foreach (var insurance in InsuranceList)
                            {
                                <option value="@insurance.Id">@insurance.DisplayName</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => ProtocolUpdateDto.ProtocolInsuranceId)" />
                    </div>

                </div>

                <div class="row">

                    <div class="col-6">
                        <label for="status">Status</label>
                        <select id="protocolStatus" class="form-select" @bind="ProtocolUpdateDto.ProtocolStatus">
                            <option value="">@L["Select"]</option>
                            @foreach (var status in ProtocolStatusCollection)
                            {
                                <option value="@status.Id">@status.DisplayName</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => ProtocolUpdateDto.ProtocolStatus)" />
                    </div>

                    <div class="col-6">
                        <label for="protocolNote">Note</label>
                        <textarea id="note" class="form-control" rows="4" @bind="ProtocolUpdateDto.NoteText"
                                  placeholder="Note"></textarea>
                        <ValidationMessage For="@(() => ProtocolUpdateDto.NoteText)" />
                    </div>

                </div>

                <div class="row">

                    <div class="col-6">
                        <label for="startTime">Start Time</label>
                        <SfDateTimePicker TValue="DateTime" @bind-Value="ProtocolUpdateDto.StartTime"></SfDateTimePicker>
                        <ValidationMessage For="@(() => ProtocolUpdateDto.StartTime)" />
                    </div>

                    <div class="col-6">
                        <label for="endTime">End Time</label>
                        <SfDateTimePicker TValue="DateTime?" @bind-Value="ProtocolUpdateDto.EndTime"></SfDateTimePicker>
                        <ValidationMessage For="@(() => ProtocolUpdateDto.EndTime)" />
                    </div>

                </div>

            

                <div class="row mt-2 mb-2">
                    <div class="col-12 text-end">
                        <SfButton CssClass="e-success e-medium m-1" Content="Güncelle"></SfButton>
                        <SfButton CssClass="e-secondary e-medium m-1" Content="Iptal" OnClick="CloseProtocolUpdateModal" Type="Button"></SfButton>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@*Delete Insurance Modal*@
<SfDialog @ref="DeleteProtocolsDialog" IsModal="true" ShowCloseIcon="true" Width="300px" Header="Silme İşlemi" Visible="false">
    <DialogTemplates>
        <Content>
            <p>Silmek istediğinize emin misiniz?</p>
        </Content>
        <FooterTemplate>
            <SfButton CssClass="e-small e-danger" OnClick="ConfirmProtocolDelete">Evet</SfButton>
            <SfButton CssClass="e-small e-primary" OnClick="CloseProtocolDeleteModal">Hayır</SfButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

@* ************************* NOTE LIST MODAL ************************* *@

<SfDialog @ref="NoteDialog" IsModal="true" ShowCloseIcon="true" Width="400px" Header="Protocol Note" Visible="false">
    <DialogTemplates>
        <Content>
            <p>@SelectedNote</p>
        </Content>
        <FooterTemplate>
            <SfButton CssClass="e-small e-secondary" Content="Close" OnClick="CloseNoteModal"></SfButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

@*Toast*@
<SfToast @ref="ToastObj" Width="300px">
    <ToastPosition X="Right" Y="Top"></ToastPosition>
</SfToast>

<style>

    .patient-card {
        width: 100%; /* Genişliği dinamik yap */
        margin-left: 0;
        margin-right: 0;
        padding: 20px;
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3); /* Gölgeyi artırdık */
        border-radius: 10px; /* Kart kenarlarını yuvarlamak için */
        background-color: #fff; /* Arka plan rengi */
    }

    .custom-avatar {
        border-radius: 50%;
        max-width: 150px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    /* Sağ hizalama için özel CSS sınıfı */
    .right-align {
        display: flex;
        justify-content: flex-end; /* Sağ tarafa hizalar */
        width: 100%; /* Genişliği kapsaması için */
    }

    .sfgrid-container {
        overflow-x: auto; /* Yatay kaydırmayı etkinleştir */
    }


    table td {
        vertical-align: top;
        width: auto;
    }


    .e-card-button {
        border: none;
        float: right;
    }

    .e-card-button .e-icons {
            font-size: 18px; /* Simgeyi büyütme */
            margin-right: 5px; /* Simge ve metin arası boşluk */
    }


    .e-card-image {
        height: 180px;
        width: 240px;
    }

    .card-text-value {
        text-align: left;
        font-weight: 500;
    }

    .tile_layout.card-control-section .row.filter .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .tile_layout.card-control-section .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
    }

    .card-control-section.tile_layout .e-card-layout {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .e-card-header {
        padding-left: inherit !important;
    }

    .e-btn {
        margin-left: 10px;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-weight: bold;
    }

    .e-collapse::before {
        content: "\e745";
    }

    .material .e-collapse::before,
    .material-dark .e-collapse::before,
    .fabric .e-collapse::before,
    .fabric-dark .e-collapse::before,
    .bootstrap .e-collapse::before,
    .bootstrap-dark .e-collapse::before,
    .highcontrast .e-collapse::before {
        content: '\e7fc';
    }

    .fluent .e-collapse::before,
    .fluent-dark .e-collapse::before,
    .fluent2-dark .e-collapse::before,
    .fluent2-highcontrast .e-collapse::before,
    .material3 .e-collapse::before,
    .material3-dark .e-collapse::before,
    .tailwind .e-collapse::before,
    .tailwind-dark .e-collapse::before,
    .bootstrap5 .e-collapse::before,
    .bootstrap5-dark .e-collapse::before {
        content: "\e7e7";
    }

    .fluent .e-reveal-icon:before,
    .fluent-dark .e-reveal-icon:before,
    .fluent2-dark .e-reveal-icon:before,
    .fluent2-highcontrast .e-reveal-icon:before,
    .tailwind .e-reveal-icon:before,
    .tailwind-dark .e-reveal-icon:before,
    .bootstrap5 .e-reveal-icon:before,
    .bootstrap5-dark .e-reveal-icon:before {
        content: "\e71c";
    }

    .material-dark .e-card .e-card-header {
        padding: 10px;
    }

    .tailwind-dark .tile_layout.card-control-section .e-card .e-card-content table td .e-card-actions .e-card-btn {
        background-color: unset;
        border: 1px solid #22d3ee;
    }
</style>