@page "/test-results-report"
@using Pusula.Training.HealthCare.Blazor.Containers
@using Pusula.Training.HealthCare.Blazor.Models
@using Pusula.Training.HealthCare.TestProcesses
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs

@inject ITestProcessesAppService TestProcessesAppService
@inject TestProcessStateContainer TestProcessState

<div class="d-flex align-items-center justify-content-between mb-2">
    <div class="d-flex justify-content-center flex-grow-1">
        <SfTextBox Placeholder="Ara"
                   FloatLabelType="FloatLabelType.Never"
                   @bind-Value="TestProcessesFilter!.FilterText"
                   Width="50%"
                   CssClass="lab-textbox"
                   Input="OnInputChange">
        </SfTextBox>
    </div>

    <SfButton CssClass="e-icon-left lab-button"
              Content="Sonuç Yazdır"
              IconCss="e-icons e-print"
              OnClick="OnPrintClick">
    </SfButton>
</div>

<SfGrid @ref="TestProcessesGrid" ID="lab-grid" DataSource="@TestResultsList" AllowPaging="false" AllowSorting="true" Height="700px" RowHeight="40">
    <GridColumns>
        <GridColumn HeaderText="Protokol No" TextAlign="TextAlign.Center">
            <Template Context="item">
                @if (item is TestProcessWithNavigationPropertiesDto process)
                {
                    <span>@process.LabRequest?.ProtocolNo</span>
                }
            </Template>
        </GridColumn>

        <GridColumn HeaderText="Değer" TextAlign="TextAlign.Center">
            <Template Context="item">
                @if (item is TestProcessWithNavigationPropertiesDto process)
                {
                    var gridItem = new TestResultCalculateModel(process!);

                    <span style="@gridItem.TextStyle">
                        <span>@gridItem.Icon</span> @gridItem.Text
                    </span>
                }
            </Template>
        </GridColumn>

        <GridColumn HeaderText="Min-Max Değer" TextAlign="TextAlign.Center">
            <Template Context="item">
                @if (item is TestProcessWithNavigationPropertiesDto process)
                {
                    <span>@($"{process.TestValueRange?.MinValue} - {process.TestValueRange?.MaxValue}")</span>
                }
            </Template>
        </GridColumn>

        <GridColumn HeaderText="Hasta Ad-Soyad" TextAlign="TextAlign.Center">
            <Template Context="item">
                @if (item is TestProcessWithNavigationPropertiesDto process)
                {
                    <span>@($"{process.LabRequest?.Patient.FirstName} {process.LabRequest?.Patient.LastName}")</span>
                }
            </Template>
        </GridColumn>

        <GridColumn HeaderText="Doktor Ad-Soyad" TextAlign="TextAlign.Center">
            <Template Context="item">
                @if (item is TestProcessWithNavigationPropertiesDto process)
                {
                    <span>@($"{process.LabRequest?.DoctorName} {process.LabRequest?.DoctorSurname}")</span>
                }
            </Template>
        </GridColumn>

        <GridColumn HeaderText="Test Adı" TextAlign="TextAlign.Center">
            <Template Context="item">
                @if (item is TestProcessWithNavigationPropertiesDto process)
                {
                    <span>@($"{process.TestGroupItem?.TestGroupName} - {process.TestGroupItem?.Name}")</span>
                }
            </Template>
        </GridColumn>

        <GridColumn HeaderText="Sonuçlanma T." TextAlign="TextAlign.Center">
            <Template Context="item">
                @if (item is TestProcessWithNavigationPropertiesDto process)
                {
                    <span>@process.TestProcess?.ResultDate?.ToString("dd.MM.yyyy HH:mm")</span>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>
