@page "/test-results-report"
@using Pusula.Training.HealthCare.Blazor.Models
@using Pusula.Training.HealthCare.TestProcesses
@using Syncfusion.Licensing

@inject ITestProcessesAppService TestProcessesAppService

<div class="d-flex align-items-center justify-content-between mb-2">
    <div class="d-flex justify-content-center flex-grow-1">
        <SfTextBox Placeholder="Ara"
                   FloatLabelType="FloatLabelType.Never"
                   @bind-Value="TestProcessesFilter!.FilterText"
                   Width="50%"
                   CssClass="lab-textbox"
                   Input="OnInputChange">
        </SfTextBox>
    </div>

    <SfButton CssClass="e-icon-left lab-button"
              Content="Sonuç Yazdır"
              IconCss="e-icons e-print"
              OnClick="OnPrintClick">
    </SfButton>
</div>

<SfGrid @ref="TestProcessesGrid" DataSource="@TestResultsList" AllowPaging="false" AllowSorting="true" Height="700px">
    <GridColumns>
        <GridColumn Field=@nameof(TestProcessDto.ProtocolNo) Width="100%" HeaderText="Protokol No" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field="@nameof(TestProcessDto.Result)" Width="100%" HeaderText="Değer" TextAlign="TextAlign.Center">
            <Template Context="context">
                @if (context is TestProcessDto testProcess)
                {
                    var gridItem = new TestResultCalculateModel(testProcess);

                    <span style="@gridItem.TextStyle">
                        <span>@gridItem.Icon</span> @gridItem.Text
                    </span>
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(TestProcessDto.Result) Width="50%" HeaderText="Değer" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(TestProcessDto.TestUnit) Width="50%" HeaderText="" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn HeaderText="Min-Max Değer" Width="100%" TextAlign="TextAlign.Center">
            <Template Context="context">
                @if (context is TestProcessDto testProcess)
                {
                    @($"{testProcess.TestMinValue} - {testProcess.TestMaxValue}")
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="Hasta Ad-Soyad" Width="100%" TextAlign="TextAlign.Center">
            <Template Context="context">
                @if (context is TestProcessDto testProcess)
                {
                    @($"{testProcess.PatientName} {testProcess.PatientSurname}")
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="Doktor Ad-Soyad" Width="100%" TextAlign="TextAlign.Center">
            <Template Context="context">
                @if (context is TestProcessDto testProcess)
                {
                    @($"{testProcess.DoctorName} {testProcess.DoctorSurname}")
                }
            </Template>
        </GridColumn>      
        <GridColumn HeaderText="Test Adı" Width="100%" TextAlign="TextAlign.Center">
            <Template Context="context">
                @if (context is TestProcessDto testProcess)
                {
                    @($"{testProcess.TestGroupName} - {testProcess.TestGroupItemName}")
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(TestProcessDto.ResultDate) HeaderText="Result Date" Width="100%" TextAlign="TextAlign.Center"></GridColumn>
    </GridColumns>
</SfGrid>