@page "/test-groups"

@using Pusula.Training.HealthCare.Permissions
@using Pusula.Training.HealthCare.Shared
@using Pusula.Training.HealthCare.TestGroupItems
@using Pusula.Training.HealthCare.TestGroups
@using Microsoft.AspNetCore.Authorization


@inject ITestGroupItemsAppService TestGroupItemsAppService
@inject ITestGroupsAppService TestGroupsAppService


<div class="d-flex justify-content-between align-items-center p-3 border-bottom">
    <div>
        <SfButton CssClass="e-medium e-success" Content="Test Grubu Ekle" OnClick="OpenTestGroupsCreateModal"></SfButton>
    </div>
    <div class="flex-grow-1 d-flex justify-content-center">
        <SfTextBox Placeholder="Test Ara"
                   FloatLabelType="FloatLabelType.Never"
                   @bind-Value="TestGroupItemsFilter!.FilterText"
                   Width="50%"
                   Input="@(async (args) => await SearchAsync(args))">
        </SfTextBox>
    </div>
    <div>
        <SfButton CssClass="e-medium e-success" Content="Test Ekle" OnClick="OpenTestGroupItemsCreateModal"></SfButton>
    </div>
</div>


@*Lab Groups List*@
<div class="container-fluid d-flex flex-row">
    @*Sol Panel*@
    <div class="col-2">
        <SfGrid DataSource="@TestGroupsList" Width="100%" AllowPaging="false" AllowSorting="true" RowHeight="40" Height="700px">
            <GridColumns>
                <!-- Grup Adı Sütunu -->
                <GridColumn Field="@nameof(TestGroupDto.Name)" HeaderText="Test Grupları" Width="70">
                    <Template Context="group">
                        @if (group is TestGroupDto testGroup)
                        {
                            <SfButton CssClass="e-link" Content="@testGroup.Name" OnClick="(() => FilterTestGroupItems(testGroup.Id))"></SfButton>
                        }
                    </Template>
                </GridColumn>

                <GridColumn HeaderText="Actions" Width="30" TextAlign="TextAlign.Center">
                    <Template>
                        @if (context is TestGroupDto testGroup)
                        {
                            <div class="d-flex justify-content-center">
                                <SfButton CssClass="e-small e-primary" IconCss="e-icons e-edit" OnClick="(() => OpenTestGroupUpdateModal(testGroup))"></SfButton>
                                <SfButton CssClass="e-small e-danger" IconCss="e-icons e-delete" OnClick="(() => OpenTestGroupDeleteModal(testGroup.Id))"></SfButton>
                            </div>
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
    @*Sağ Panel*@
    <div class="col-10">
        @*Data Grid*@
        <SfGrid DataSource="@TestGroupItemsList" AllowPaging="false" AllowSorting="true" RowHeight="40" Height="700px">
            <GridColumns>
                <GridColumn Field=@nameof(TestGroupItemDto.Code) HeaderText="Test Kodu" Width="25"></GridColumn>
                <GridColumn HeaderText="Test Grubu" Width="25">
                    <Template>
                        @if (context is TestGroupItemDto testGroupItem)
                        {
                            var testGroupId = testGroupItem.TestGroupId;
                            <span>@GetTestGroupName(testGroupId)</span>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(TestGroupItemDto.Name) HeaderText="Test Adı" Width="100" TextAlign="TextAlign.Left"></GridColumn>
                <GridColumn Field=@nameof(TestGroupItemDto.TestType) HeaderText="Test Tipi" Width="25" TextAlign="TextAlign.Center"></GridColumn>
                <GridColumn HeaderText="Tahmini Süre" Width="25" TextAlign="TextAlign.Center">
                    <Template>
                        @if (context is TestGroupItemDto testGroupItem)
                        {
                            <span>@($"{testGroupItem.TurnaroundTime} saat")</span>
                        }
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="Açıklama" Width="25" TextAlign="TextAlign.Center">
                    <Template>
                        @if (context is TestGroupItemDto testGroupItem)
                        {
                            <SfButton CssClass="e-small e-link"
                                      OnClick="(() => OpenDescriptionModal(testGroupItem.Description))"
                                      Style="@(string.IsNullOrEmpty(testGroupItem.Description) ? "display:none;" : "")">
                                <i class="fa-regular fa-file"></i>
                            </SfButton>
                        }
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="Actions" Width="30" TextAlign="TextAlign.Center">
                    <Template>
                        @if (context is TestGroupItemDto testGroupItem)
                        {
                            <div class="d-flex justify-content-center">
                                <SfButton CssClass="e-small e-primary" IconCss="e-icons e-edit" OnClick="(() => OpenTestGroupItemUpdateModal(testGroupItem))"></SfButton>
                                <SfButton CssClass="e-small e-danger" IconCss="e-icons e-delete" OnClick="(() => OpenTestGroupItemDeleteModal(testGroupItem.Id))"></SfButton>
                            </div>
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>

@*Create Test Group Items Form*@
<SfDialog @ref="CreateTestGroupItemsDialog" IsModal="true" ShowCloseIcon="true" Width="600px" Header="Test Ekle" Visible="false">
    <DialogTemplates>
        <Content>
            <EditForm Model="@CreateTestGroupItemsDto" OnValidSubmit="AddTestGroupItem" class="needs-validation" novalidate>
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-6">
                        <label for="testGroup">Test Grubu</label>
                        <select id="testGroupId" class="form-select" @bind="CreateTestGroupItemsDto.TestGroupId">
                            @foreach (var group in TestGroupNamesCollection)
                            {
                                <option value="@group.Id">@group.DisplayName</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => CreateTestGroupItemsDto.TestGroupId)" />
                    </div>
                    <div class="col-6">
                        <label for="testName">Test Adı</label>
                        <input type="text" id="testName" class="form-control" @bind="CreateTestGroupItemsDto.Name" placeholder="Test Adı" />
                        <ValidationMessage For="@(() => CreateTestGroupItemsDto.Name)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="testCode">Test Kodu</label>
                        <input type="text" id="testCode" class="form-control" @bind="CreateTestGroupItemsDto.Code" placeholder="Test Kodu" />
                        <ValidationMessage For="@(() => CreateTestGroupItemsDto.Code)" />
                    </div>
                    <div class="col-6">
                        <label for="testType">Test Tipi</label>
                        <input type="text" id="testType" class="form-control" @bind="CreateTestGroupItemsDto.TestType" placeholder="Test Tipi" />
                        <ValidationMessage For="@(() => CreateTestGroupItemsDto.TestType)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label for="testDescription">Test Açıklaması</label>
                        <textarea id="testDescription" class="form-control" rows="4" @bind="CreateTestGroupItemsDto.Description"
                                  placeholder="Test Açıklaması"></textarea>
                        <ValidationMessage For="@(() => CreateTestGroupItemsDto.Description)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="turnaroundTime">Tahmini Süre</label>
                        <input type="number" id="testType" class="form-control" @bind="CreateTestGroupItemsDto.TurnaroundTime" placeholder="Test Süresi" min="0" />
                        <ValidationMessage For="@(() => CreateTestGroupItemsDto.TurnaroundTime)" />
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-12 text-end">
                        <SfButton CssClass="e-success e-medium m-1" Content="Kaydet" Type="Submit"></SfButton>
                        <SfButton CssClass="e-secondary e-medium m-1" Content="İptal" OnClick="CloseTestGroupItemCreateModal"></SfButton>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@*Create Test Groups Form*@
<SfDialog @ref="CreateTestGroupsDialog" IsModal="true" ShowCloseIcon="true" Width="300px" Header="Test Grubu Ekle" Visible="false">
    <DialogTemplates>
        <Content>
            <EditForm Model="@CreateTestGroupsDto" OnValidSubmit="AddTestGroup" class="needs-validation" novalidate>
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-12">
                        <label for="testGroupName">Test Adı</label>
                        <input type="text" id="testGroupName" class="form-control" @bind="CreateTestGroupsDto.Name" placeholder="Test Grup Adı" />
                        <ValidationMessage For="@(() => CreateTestGroupsDto.Name)" />
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-12 text-end">
                        <SfButton CssClass="e-success e-small m-1" Content="Kaydet" Type="Submit"></SfButton>
                        <SfButton CssClass="e-secondary e-small m-1" Content="İptal" OnClick="CloseTestGroupCreateModal"></SfButton>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@*Delete Test Group Items Modal*@
<SfDialog @ref="DeleteTestGroupItemsDialog" IsModal="true" ShowCloseIcon="true" Width="300px" Header="Silme İşlemi" Visible="false">
    <DialogTemplates>
        <Content>
            <p>Silmek istediğinize emin misiniz?</p>
        </Content>
        <FooterTemplate>
            <SfButton CssClass="e-small e-danger" OnClick="ConfirmTestGroupItemDelete">Evet</SfButton>
            <SfButton CssClass="e-small e-primary" OnClick="CloseTestGroupItemDeleteModal">Hayır</SfButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

@*Delete Test Groups Modal*@
<SfDialog @ref="DeleteTestGroupsDialog" IsModal="true" ShowCloseIcon="true" Width="300px" Header="Test Silme" Visible="false">
    <DialogTemplates>
        <Content>
            <p>Silmek istediğinize emin misiniz?</p>
        </Content>
        <FooterTemplate>
            <SfButton CssClass="e-small e-danger" OnClick="ConfirmTestGroupDelete">Evet</SfButton>
            <SfButton CssClass="e-small e-primary" OnClick="CloseTestGroupDeleteModal">Hayır</SfButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

@*Update Test Group Items Form*@
<SfDialog @ref="UpdateTestGroupItemsDialog" IsModal="true" ShowCloseIcon="true" Width="600px" Header="Test Güncelleme" Visible="false">
    <DialogTemplates>
        <Content>
            <EditForm Model="@UpdateTestGroupItemsDto" OnValidSubmit="UpdateTestGroupItem" class="needs-validation" novalidate>
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-6">
                        <label for="testGroup">Test Grubu</label>
                        <select id="testGroupId" class="form-select" @bind="UpdateTestGroupItemsDto.TestGroupId">
                            @foreach (var group in TestGroupNamesCollection)
                            {
                                <option value="@group.Id">@group.DisplayName</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => UpdateTestGroupItemsDto.TestGroupId)" />
                    </div>
                    <div class="col-6">
                        <label for="testName">Test Adı</label>
                        <input type="text" id="testName" class="form-control" @bind="UpdateTestGroupItemsDto.Name" placeholder="Test Adı" />
                        <ValidationMessage For="@(() => UpdateTestGroupItemsDto.Name)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <label for="testCode">Test Kodu</label>
                        <input type="text" id="testCode" class="form-control" @bind="UpdateTestGroupItemsDto.Code" placeholder="Test Kodu" />
                        <ValidationMessage For="@(() => UpdateTestGroupItemsDto.Code)" />
                    </div>
                    <div class="col-6">
                        <label for="turnaroundTime">Tahmini Süre</label>
                        <input type="number" id="testType" class="form-control" @bind="UpdateTestGroupItemsDto.TurnaroundTime" placeholder="Test Süresi" min="0" />
                        <ValidationMessage For="@(() => UpdateTestGroupItemsDto.TurnaroundTime)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label for="testDescription">Test Açıklaması</label>
                        <textarea id="testDescription" class="form-control" rows="4" @bind="UpdateTestGroupItemsDto.Description"
                                  placeholder="Test Açıklaması"></textarea>
                        <ValidationMessage For="@(() => UpdateTestGroupItemsDto.Description)" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-end">
                        <SfButton CssClass="e-success e-medium m-2" Content="Kaydet" Type="Submit"></SfButton>
                        <SfButton CssClass="e-secondary e-medium m-2" Content="İptal" OnClick="CloseTestGroupItemUpdateModal"></SfButton>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@*Update Test Groups Form*@
<SfDialog @ref="UpdateTestGroupsDialog" IsModal="true" ShowCloseIcon="true" Width="300px" Header="Test Grubu Güncelleme" Visible="false">
    <DialogTemplates>
        <Content>
            <EditForm Model="@UpdateTestGroupsDto" OnValidSubmit="UpdateTestGroup" class="needs-validation" novalidate>
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-12">
                        <label for="testGroupName">Test Adı</label>
                        <input type="text" id="testGroupName" class="form-control" @bind="UpdateTestGroupsDto.Name" placeholder="Test Grup Adı" />
                        <ValidationMessage For="@(() => UpdateTestGroupsDto.Name)" />
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-12 text-end">
                        <SfButton CssClass="e-success e-small me-2" Content="Kaydet" Type="Submit"></SfButton>
                        <SfButton CssClass="e-secondary e-small" Content="İptal" OnClick="CloseTestGroupUpdateModal"></SfButton>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@*Description Detail Modal*@
<SfDialog @ref="DescriptionDialog" IsModal="true" ShowCloseIcon="true" Width="400px" Header="Açıklama" Visible="false">
    <DialogTemplates>
        <Content>
            <p>@SelectedDescription</p>
        </Content>
        <FooterTemplate>
            <SfButton CssClass="e-small e-secondary" Content="Kapat" OnClick="CloseDescriptionModal"></SfButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

@*Toast*@
<SfToast @ref="ToastObj" Width="300px">
    <ToastPosition X="Right" Y="Top"></ToastPosition>
</SfToast>


@*  ****************** YAPILACAKLAR ******************
    - LabGroups ve LabGroupItems Cache alınacak (inş.)
*@
